.main {
  background-color: #ffffff;
  margin-top: -22px;
  width: 100%;
  opacity: 1;
}
h1 {
  padding-top: 6vh;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

.container{
  padding-bottom: 8vh;
}
p {
  font-weight: 600;
  font-size: 23px;
  color: #555;
  text-align: center;
}
.Links {
  
  padding-top: 55px;
}

.Links a:hover {
  border: 1px solid transparent;
  /* border-radius: 30px; */
  /* box-shadow: 2px 3px; */
  -webkit-transition: 0.5s;
  opacity: 0.6;
}
.space {
  padding-left: 60px;
  
}
.contact {
  width: 100%;
  display: flex;
  justify-content: center;
}
a {
  float: left;
  text-decoration: none;
  margin: auto;
  padding: 10px;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 27px;
  display: flex;
}
.Phone {

  color: rgb(38, 67, 183);
}
.flex{display: flex;}

.Whatsapp {
 
  color: rgb(47, 171, 36);
}

.LinkedIn{


  color: rgb(36, 113, 171);
}

.Email{
  
 
  color: rgb(205, 36, 36);
}

.Links img {
  height: 40px;
  display:block;
  margin:auto;
  padding-right: 8px;
}

.profimg{height: 300px;}

.programingimg{
  padding-left: 20px;
   height: 50vh;}


@media (max-width:400px){
  .space {
    padding-left: 30px;
  }
  
}
@media (max-width:850px){

  .space {
    padding-left: 30px;
  }
  .programingimg{
    display: none;
    }
  
}