<div class="main">
  <div class="TextSec">
    <div class="heads">
      <h1>About Me</h1>
      <p>
        Here you will find more information about me, what I do, <br />
        and my current skills mostly in terms of programming and technology
      </p>
    </div>

    <div class="container">
      <div class="knowme-section">
        <h3>Get to Know Me</h3>
        <p>
          I'm a Frontend Web Developer building the Front-end of Websites and<br />
          Web Applications that leads to the success of the overall product.<br />
          Check out some of my work in the Projects section.
        </p>
        <p>
          I'm open to Job opportunities where I can contribute, learn and grow.
          If<br/>
          you have a good opportunity that matches my skills and experience
          then<br/>
          don't hesitate to contact me
        </p>
      </div>

      <div class="skill-section">
        <h3>My Skills</h3>
        <div class="skillset">
          <div class="skillline">
            <div class="skill">C#</div>
            <div class="skill">ASP.NET</div>
            <div class="skill">SQL Server</div>
            <div class="skill">MongoDB</div>
          </div>
          <div class="skillline">
            <div class="skill">Angular</div>
            <div class="skill">React</div>
            <div class="skill">HTML</div>
            <div class="skill">CSS</div>
            <div class="skill">TypeScript</div>
          </div>

          <div class="skillline">
            <div class="skill">Git</div>
            <div class="skill">Docker</div>
            <div class="skill">Azure</div>
          </div>

          <div class="skillline">
            <div class="skill">.NET Framework</div>
            <div class="skill">Object-Oriented</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
