<div class="main">
  <div class="NameSec">
    <img
      src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t39.30808-6/295120901_5655883821131158_2671293067294845728_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=l02keXCoUNwAX9Oa0YD&_nc_ht=scontent.ftlv5-1.fna&oh=00_AfAcXWKyd062I2Af1-Xcnzq1TtJGDerBz0n-cIdfLK8o8A&oe=63E99F4D"
    />
    <h2>Bar Orel</h2>
  </div>
  <div class="Navibtn">
    <a>Home</a>
    <a>About</a>
    <a>Projects</a>
    <a>Contact</a>
  </div>
  <div class="dropdown">
    <button class="dropbtn"><span class="material-symbols-outlined">
      menu
      </span></button>
    <div class="dropdown-content">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Projects</a>
      <a href="#">Contact</a>
    </div>
  </div>
</div>
