<div class="main" id="Home">
  <div class="NameSec">
    <img
      src="https://i.ibb.co/zb8rw1g/Whats-App-Image-2023-01-31-at-12-40-37.jpg"
    />
    <h2 (click)="NaviToHome()">Bar Orel</h2>
  </div>
  <div class="Navibtn">
    <a (click)="NaviToHome()">Home</a>
    <a (click)="NaviToProjects()">Projects</a>
    <a (click)="NaviToAbout()" >About</a>
    <a (click)="NaviToContact()">Contact</a>
  </div>
  <div class="dropdown"  *ngIf="currentWindowWidth < 750"   >
    <button class="dropbtn" (click)="OpenMenu()"><span class="material-symbols-outlined">
      menu
      </span></button>
    <div class="dropdown-content" id="dropdown-content">
      <a (click)="NaviToHome()">Home</a>
      <a (click)="NaviToProjects()">Projects</a>
      <a (click)="NaviToAbout()">About</a>
      <a (click)="NaviToContact()">Contact</a>
    </div>
  </div>
</div>
