
<div class="main"  >
  <div class="effects">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
  </div>

  <div class="TextSec">
    <h1>HEY , I'M Bar Orel</h1>
    
    <p>a Highly Skilled Full-Stack Developer with a strong background in developing robust,<br>
    calable, and high-performance applications.</p>
    <button class="button-35">Projects</button>

  </div>

  <div class="AccountsLinks">
    <a href="https://www.linkedin.com/in/barorel/" target="_blank" ><img src="https://d33wubrfki0l68.cloudfront.net/d8e6e1e636531e28274a1b8b6d947b817f6145bd/d42d3/assets/svg/linkedin-dark.svg"/></a>
    <a href="https://github.com/BarOrel" target="_blank"><img src="https://d33wubrfki0l68.cloudfront.net/38469cf88d038b6ba3322c9fcb93a8f7167df4b9/cb0b9/assets/svg/github-dark.svg"/></a>
    
    
  </div>

  <div class="mouse"></div>
  

</div>

