<div class="main">
     <div class="effects">
          <div id='stars'></div>
          <div id='stars2'></div>
          <div id='stars3'></div>
        </div>
     <div class="ProjectHead">
          <h1>Chat Application</h1>
          <div class="line"></div>
          <p>A fully-functional chat application, built using Angular for the client-side and an ASP.NET API<br> and SQL database for the back-end, featuring multiple advanced capabilities.</p>
           <div class="ButtonsHead">
               <div class="btns">
                 <a href="https://github.com/BarOrel/ChatApp_Client" target="_blank" class="button-35">Project Link</a>
                 <div class="space"></div>
                 <a href="https://github.com/BarOrel/ChatApp_Client" target="_blank" class="button-35">Live Page</a>
                </div>
                
              </div>
            </div>
            
          </div>
          <div class="ProjectOverView">
            <div class="imgsec">
              <img src="https://i.postimg.cc/h4TsZDvh/082065f5d7b560b8f9c4c66c94b1429e.png" />
            </div>
            <h3 class="SkillH3">Implemented Technologies</h3>
            <div class="skill-section">
              <div class="skillset">
                <div class="skillline">
                  <div class="skill">C#</div>
                  <div class="skill">ASP.NET</div>
                  <div class="skill">Angular</div>
                  <div class="skill">SQL Server</div>
                </div>
            
                <div class="skillline">
                  <div class="skill">TypeScript</div>
                  <div class="skill">HTML</div>
                  <div class="skill">CSS</div>
                </div>
                
                <div class="skillline">
                  <div class="skill">.NET Framework</div>
                  <div class="skill">Git</div>
                  <div class="skill">Object-Oriented</div>
                </div>
            
              </div>

        <div class="projectsummry">
          <div class="project-content">
            <h3>Overview</h3>
            <p>A chat application built using Angular and ASP.NET is a real-time communication platform that allows users to send messages and engage in conversations with each other. The application has been developed using Angular, a popular JavaScript-based front-end framework, and ASP.NET, a powerful server-side framework for building web applications.</p>
            <div class="imgsec">
              <img src="https://camo.githubusercontent.com/8abecb4636a1f4d4a6d866a3f669c77f3a3ab2966d479392d2fe945c26f3bbf8/68747470733a2f2f73657276696e672e70686f746f732e70686f746f626f782e636f6d2f3930353836343130663563626333303631623565623263623831383832306162626638636465663031666565333239663362363430383665623163613064356234633462633430322e6a7067" />
            </div>

            <p>The application is likely to have features such as user authentication, the ability to send and receive messages in real-time, the ability to view a list of online users, and the ability to send and receive messages to and from other users. Additionally, it may also have the ability to send attachments and support for group chats.</p>
            <div class="imgsec">
              <img src="https://camo.githubusercontent.com/b8094ea2129789a820ac0a5264a5ac94ba052a2d7a5ab06815bc8d5a3d66b33d/68747470733a2f2f73657276696e672e70686f746f732e70686f746f626f782e636f6d2f3237323533383432383537656465346330393933656536363066333062346531353236616664623439353936373838333461306631656261326638623834373234343032323039312e6a7067" />
            </div>
            <p>In summary, the chat application built using Angular and ASP.NET is a comprehensive and feature-rich platform for real-time communication and is likely to provide a seamless user experience.</p>
          </div>
        </div>
        
        
        <div>
         
          <div class="imgdiv">
            <div class="images">
            </div>
            
           </div>
            
          </div>
</div>