<div class="main" id="Projects">
    <div class="header">
        <h1>Projects</h1>
        <div class="line"></div>
        <p>Here you will find some of the personal and clients projects that I created with each project<br> containing its own case study</p>
    </div>

    <div class="projects-section">
        <div class="project-row">
          <div class="project-img">
              <img src="https://i.postimg.cc/h4TsZDvh/082065f5d7b560b8f9c4c66c94b1429e.png" />
          </div>
          <div class="project-content">
              <h3>Social Media (At Work)</h3>
              <p>a social media website that allows users to create posts, like and comment on posts, and follow other users. It has a modern user interface and a database to store and retrieve user data. The app is built using ASP.NET on the backend, which uses SQL Server for data storage, and Angular on the frontend</p>
              <button class="button-29" (click)="NavigateToProject('Social-Media')">App Page</button>
          </div>
        
  
      </div>
        
        <div class="project-row">
            <div class="project-img">
                <img src="https://i.postimg.cc/h4TsZDvh/082065f5d7b560b8f9c4c66c94b1429e.png" />
            </div>
            <div class="project-content">
                <h3>Chat Application</h3>
                <p>A fully-functional chat application, built using Angular for the client-side and an ASP.NET API and SQL database for the back-end, featuring multiple advanced capabilities.</p>
                <button class="button-29" (click)="NavigateToProject('Chat-Application')">App Page</button>
            </div>
        </div>

        <div class="project-row">
          <div class="project-img">
              <img src="https://i.ibb.co/zf92RbG/082065f5d7b560b8f9c4c66c94b1429e-2-1.png" />
          </div>
          <div class="project-content">
              <h3>E Commerce Computer Store</h3>
              <p>An e-commerce website was built using ASP.NET and Angular. The homepage displays products, categories, and promotions, and includes search, cart, and checkout functions for customers. An admin panel was created for product and order management.</p>
              <button class="button-29" (click)="NavigateToProject('E-Commerce-Computer-Store')">App Page</button>
          </div>
      </div>
      

</div>