<div class="main" id="Main">
    <div class="header">
        <h1>Projects</h1>
        <div class="line"></div>
        <p>Here you will find some of the personal and clients projects that I created with each project<br> containing its own case study</p>
    </div>

    <div class="projects-section">

        <div class="project-row">
            <div class="project-img">
                <img src="https://i.postimg.cc/h4TsZDvh/082065f5d7b560b8f9c4c66c94b1429e.png" />
            </div>
            <div class="project-content">
                <h3>Chat App</h3>
                <p>A fully-functional chat application, built using Angular for the client-side and an ASP.NET API and SQL database for the back-end, featuring multiple advanced capabilities.</p>
                <button class="button-29">App Page</button>
            </div>
        </div>

        <div class="project-row">
          <div class="project-img">
              <img src="https://i.postimg.cc/h4TsZDvh/082065f5d7b560b8f9c4c66c94b1429e.png" />
          </div>
          <div class="project-content">
              <h3>Chat App</h3>
              <p>A fully-functional chat application, built using Angular for the client-side and an ASP.NET API and SQL database for the back-end, featuring multiple advanced capabilities.</p>
              <button class="button-29">App Page</button>
          </div>
      </div>

      <div class="project-row">
        <div class="project-img">
            <img src="https://i.postimg.cc/h4TsZDvh/082065f5d7b560b8f9c4c66c94b1429e.png" />
        </div>
        <div class="project-content">
            <h3>Chat App</h3>
            <p>A fully-functional chat application, built using Angular for the client-side and an ASP.NET API and SQL database for the back-end, featuring multiple advanced capabilities.</p>
            <button class="button-29">App Page</button>
        </div>
      

    </div>

</div>