<div class="main">
     <div class="effects">
          <div id='stars'></div>
          <div id='stars2'></div>
          <div id='stars3'></div>
        </div>
     <div class="ProjectHead">
          <h1>Social Network</h1>
          <div class="line"></div>
          <p>A social media website built using ASP.NET and Angular would provide users with a feature-rich and user-friendly platform<br> to connect with others, share experiences, and stay up-to-date with the latest trends and news. </p>
           <div class="ButtonsHead">
               <div class="btns">
                 <a href="https://github.com/BarOrel/SocialMedia_Client" target="_blank" class="button-35">Project Link</a>
                 <div class="space"></div>
                 <a href="https://github.com/BarOrel/SocialMedia_Client" target="_blank" class="button-35">Live Page</a>
                </div>
                
              </div>
            </div>
            
          </div>
          <div class="ProjectOverView">
            <div class="imgsec">
              <img src="https://i.ibb.co/LpQt4g6/Nice-Png-macbook-mockup-png-4095538-1-1.png" />
            </div>
            <h3 class="SkillH3">Implemented Technologies</h3>
            <div class="skill-section">
              <div class="skillset">
                <div class="skillline">
                  <div class="skill">C#</div>
                  <div class="skill">ASP.NET</div>
                  <div class="skill">Angular</div>
                  <div class="skill">SQL Server</div>
                </div>
            
                <div class="skillline">
                  <div class="skill">TypeScript</div>
                  <div class="skill">HTML</div>
                  <div class="skill">CSS</div>
                </div>
                
                <div class="skillline">
                  <div class="skill">.NET Framework</div>
                  <div class="skill">Git</div>
                  <div class="skill">Object-Oriented</div>
                </div>
            
              </div>
 
              
        <div class="projectsummry">
          <div class="project-content">
            <h3>Overview</h3>
            <p>Upon landing on the homepage, users would be presented with a feed of content . The mobile version of the website would be optimized for smaller screens, with a simplified layout and easy-to-navigate menus. Users would be able to scroll through their feed with ease, liking, commenting, and sharing posts as they go.</p>
            <div class="imgsec">
              <img src="https://i.ibb.co/mBHB0cF/Screenshot-2023-03-06-173908.png" />
            </div>
 
            <p>The website would also provide users with a customizable profile, where they could add their personal information, profile picture, and other details. They would be able to customize their privacy settings, control who can see their posts, and manage their followers and following list.</p>
            <div class="imgsec">
              <img src="https://i.ibb.co/bQfZd65/Screenshot-2023-03-06-174042.png" />
            </div>
            <p>One of the standout features of your social media website is the notifications system, which alerts users about new messages, likes, comments, and other interactions on their posts. This feature helps to keep users engaged with the platform and encourages them to interact with other users.</p>
            <div class="imgsec">
              <img src="https://i.ibb.co/1X0vF0H/Screenshot-2023-03-06-174118.png" />
            </div>
            <p>The website would be optimized for mobile devices using responsive design techniques, allowing it to adapt to screens of all sizes. It would be built with scalability in mind, allowing it to handle a large user base and heavy traffic.</p>
            <div class="imgsec" style="height: 80vh;">
               <img style="width: unset;" src="https://i.ibb.co/2Y7hcjW/vecteezy-smartphone-and-mobile-phone-11047520-523-1.png" />
             </div>
            <p>The website would include a user registration system, allowing users to create accounts and customize their profiles with personal information, profile picture, and other details. Users would be able to follow other users and receive notifications when they post new content, like or comment on their posts, or send them a message.</p>
            <div class="imgsec" style="height: 80vh;">
               <img style="width: unset;" src="https://i.ibb.co/wpwGcyt/vecteezy-smartphone-and-mobile-phone-11047520-523-2.png" />
            </div>
            <p>The website's user interface is designed using Angular, which offers a seamless and responsive experience for users across all devices. Users can sign up for the website using their email address, and they can customize their profiles with their personal information, profile picture, and other details.</p>
            <div class="imgsec" style="height: 80vh;">
               <img style="width: unset;" src="https://i.ibb.co/WgPDLVs/vecteezy-smartphone-and-mobile-phone-11047520-523-3.png" />
            </div>
            <p>Overall, a social media website built using ASP.NET and Angular would provide users with a robust and user-friendly platform to connect with others, share experiences, and stay up-to-date with the latest trends and news. With advanced features such as messaging, groups, and events, it would offer a powerful tool for building and engaging with online communities.</p>
     </div>
        </div>
        
        
        <div>
         
          <div class="imgdiv">
            <div class="images">
            </div>
            
           </div>
            
          </div>
 </div>
